@font-face {
  font-family:Uniform;
  src: url(./Uniform.ttf);
}

:root{
  --color-primary:#186CB0;
  --color-white:white;
  --color-font1:#ECECEC;
  --color-font2:#ECECEC;
  --color-bleu:#186CB0;
  --color-rouge:#D03737;
  --color-jaune:#FFEA61;
  --color-violet:#6D27A2;
  --color-brun:#794808;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
/* header */
h1{
  text-align: center ;
}
header{
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  font-family: Uniform;
  display: flex;
  }
.imput_header{
  
  max-width: 400px;
  margin: 10px auto;
  display :flex;
}
.button{
  background-color: var(--color-primary);
  padding: 10px;
  margin: 10px;
  margin-left: 10px;
}
.input{
  width: 100%;
}
